{% extends 'cleaning/base.html' %}
{% block content %}
<div class="jumbotron">
<h1>Zmiana hasła</h1>
</div>
<form action="" method="post">{% csrf_token %}
{{ form.old_password.errors }}
<p><label for="id_old_password">Stare hasło: </label>{{ form.old_password }}</p>
{{ form.new_password1.errors }}
<p><label for="id_new_password1">Nowe hasło: </label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p><label for="id_new_password2">Potwierdź hasło: </label>{{ form.new_password2 }}</p>

<p><input type="submit" value="Zmień hasło"  class="btn btn-primary"/></p>
</form>
{% endblock %}

